function getTimeNumebr(value) {

  var newValue= "";
  for(var i = 0 ; i < value.length; i ++)
  {
      console.log(value[i])
      if( i >=3 && i <7)
      {
        newValue +="*"
      }
      else
      {
        newValue+= value[i]
      }
  }
  return newValue
}

module.exports = {
  getTimeNumebr: getTimeNumebr
}